.HeaderContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 8%;
	padding-left: 3%;
	padding-right: 3%;
	background-color: #9195F6;
}

.text{
	margin-bottom: 0;
	text-align: center;
	display: flex;
	align-items: center;
}

.ChatCenter{
	width: 40%;
	display: flex;
	flex-direction: row;
}

.SurveyBtn{
	background-color: #FB88B4;
	border: #FB88B4;
	color: black;
}

.SurveyBtn:hover{
	background-color: #FB88B4;
	border: #FB88B4;
	color: black;
}