.BackGround{
	height: 100%;
	background-color: #B7C9F2;
}

.WarningBtnContainer{
	height: 60%;
	margin-top: 0;
}

.WarningButton{
	position: fixed;
	background-color: #9195F6;
	border-color: #9195F6;
	font-weight: bold;
	font-size: 1.5rem;
	width: 70%;
	bottom: 0;
	margin-bottom: 10%;
}

.WarningButton:hover{
	background-color: #9195F6;
	border-color: #9195F6;
}

.WarningSmallTextSet{
	height: 90%;
	margin-top: 22%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.WarningSet{
	margin-top: 8%;
}